In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [53]:
df_Test=pd.read_csv("test.csv")
df_Train=pd.read_csv("train.csv")

In [5]:
df_Test.head()

,id,PROJECTNUMBER,MW,PROJECT_CITY,STATE,PROJECT_COUNTRY,CORE_MARKET,PROJECT_TYPE,SIZE_BUILDINGSIZE,NUMFLOORS,...,invoiceTotal,ItemDescription,UOM,ExtendedQuantity,PriceUOM,UnitPrice,ExtendedPrice,CONSTRUCTION_START_DATE,SUBSTANTIAL_COMPLETION_DATE,REVISED_ESTIMATE
0,3708,A0-0068,NaN,Visakhapatnam,Andhra Pradesh,India,Enterprise,Critical Ops,265850.0,0.0,...,142835.935,"1/4"" x 2"" x 25' Neoprene Gasket",roll,2,NaN,2004.00,NaN,9/12/2022 0:00,10/2/2023 0:00,4.131524e+09
1,6302,A0-0162,NaN,Lucknow,Uttar Pradesh,India,Bio Innovation,R&amp;D Laboratories,288000.0,0.0,...,1393673.450,"4"" x 14'2"" C-H Stud 20ga 33mil",PC,1.275,ML,140280.00,178857.835,5/6/2022 0:00,5/30/2025 0:00,1.559882e+10
2,8687,A0-0219,NaN,Indore,Madhya Pradesh,India,Misc Market,Learning Hub,40000.0,2.0,...,1446021.270,"6"" ProX Header Clip 16ga 54mil",EA,36,EA,165.33,5951.880,12/14/2021 0:00,11/17/2023 12:00,3.600137e+09
3,361,A0-0005,NaN,Warangal,Telangana,India,Misc Market,Learning Hub,36700.0,4.0,...,10460.880,"3/4""X16""X21"" SDS MAX ROTARY HAMMER\nDRILL SPEE...",NaN,NaN,NaN,4178.34,8356.680,10/15/2020 0:00,1/11/2024 12:00,3.422320e+09
4,13231,A0-0023,NaN,Kolkata,West Bengal,India,Enterprise,Hospitality Hall,435000.0,11.0,...,192062.525,"6"" x 10' Flat Strap 16ga 54mil",PC,0.22,ML,157230.50,34590.710,8/15/2022 0:00,1/21/2025 0:00,2.320456e+10

In [6]:
df_Test.join(df_Train)

ValueError: columns overlap but no suffix specified: Index(['id', 'PROJECTNUMBER', 'MW', 'PROJECT_CITY', 'STATE', 'PROJECT_COUNTRY',
       'CORE_MARKET', 'PROJECT_TYPE', 'SIZE_BUILDINGSIZE', 'NUMFLOORS',
       'NUMROOMS', 'NUMBEDS', 'invoiceId', 'invoiceDate', 'invoiceTotal',
       'ItemDescription', 'UOM', 'ExtendedQuantity', 'PriceUOM', 'UnitPrice',
       'ExtendedPrice', 'CONSTRUCTION_START_DATE',
       'SUBSTANTIAL_COMPLETION_DATE', 'REVISED_ESTIMATE'],
      dtype='object')

In [8]:
df=df_Train.merge(df_Test)

In [9]:
df_Train

,id,PROJECTNUMBER,MW,PROJECT_CITY,STATE,PROJECT_COUNTRY,CORE_MARKET,PROJECT_TYPE,SIZE_BUILDINGSIZE,NUMFLOORS,...,MasterItemNo,QtyShipped,UOM,ExtendedQuantity,PriceUOM,UnitPrice,ExtendedPrice,CONSTRUCTION_START_DATE,SUBSTANTIAL_COMPLETION_DATE,REVISED_ESTIMATE
0,3478,A0-0070,NaN,Mumbai,Maharashtra,India,Enterprise,Workspace,9000.0,0.0,...,58211,2,can,2,NaN,1983.125,NaN,3/22/2023 0:00,5/25/2023 12:00,2.409524e+07
1,8006,A0-0208,NaN,Delhi,Delhi,India,Wellness,Health Center,31200.0,NaN,...,53691,15,PC,0.15,ML,53273.000,7.990950e+03,11/1/2022 0:00,7/3/2023 12:00,9.511661e+08
2,5748,A0-0004,NaN,Bengaluru,Karnataka,India,Enterprise,Workspace,2800000.0,0.0,...,63311,5,BG,5,BG,864.225,4.321125e+03,2/3/2020 0:00,10/31/2025 0:00,3.492557e+10
3,7898,A0-0166,NaN,Chennai,Tamil Nadu,India,Tertiary Learning,Learning Hub,184000.0,0.0,...,61506,12,EA,12,EA,125.250,1.503000e+03,11/19/2019 0:00,1/24/2025 12:00,1.553978e+10
4,11030,A0-0242,NaN,Hyderabad,Telangana,India,Wellness,Ambulatory Care,25000.0,NaN,...,50921,8,PC,0.128,NaN,NaN,2.378080e+04,12/3/2021 0:00,3/2/2023 12:00,6.867939e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14031,16717,A0-0548,10.0,Kolkata,West Bengal,India,Future Tech,Data Center,174000.0,6.0,...,PP_CAT6_48,460,EA,460,EA,10113.520,4.652219e+06,7/26/2021 0:00,3/10/2023 12:00,8.988177e+09
14032,16718,A0-0548,10.0,Kolkata,West Bengal,India,Future Tech,Data Center,174000.0,6.0,...,PANELBOARD_LV,184,EA,184,EA,210844.180,3.879533e+07,7/26/2021 0:00,3/10/2023 12:00,8.988177e+09
14033,16719,A0-0548,10.0,Kolkata,West Bengal,India,Future Tech,Data Center,174000.0,6.0,...,RAISED_FLOOR_SF,18622,SF,18622,SF,7491.620,1.395089e+08,7/26/2021 0:00,3/10/2023 12:00,8.988177e+09
14034,16720,A0-0548,10.0,Kolkata,West Bengal,India,Future Tech,Data Center,174000.0,6.0,...,CHILLER_TON,2632,TON,2632,TON,42203.405,1.110794e+08,7/26/2021 0:00,3/10/2023 12:00,8.988177e+09
14035,16721,A0-0548,10.0,Kolkata,West Bengal,India,Future Tech,Data Center,174000.0,6.0,...,LADDER_10FT,325,EA,325,EA,17211.855,5.593853e+06,7/26/2021 0:00,3/10/2023 12:00,8.988177e+09

In [10]:
df_Test

,id,PROJECTNUMBER,MW,PROJECT_CITY,STATE,PROJECT_COUNTRY,CORE_MARKET,PROJECT_TYPE,SIZE_BUILDINGSIZE,NUMFLOORS,...,invoiceTotal,ItemDescription,UOM,ExtendedQuantity,PriceUOM,UnitPrice,ExtendedPrice,CONSTRUCTION_START_DATE,SUBSTANTIAL_COMPLETION_DATE,REVISED_ESTIMATE
0,3708,A0-0068,NaN,Visakhapatnam,Andhra Pradesh,India,Enterprise,Critical Ops,265850.0,0.0,...,142835.935,"1/4"" x 2"" x 25' Neoprene Gasket",roll,2,NaN,2004.000,NaN,9/12/2022 0:00,10/2/2023 0:00,4.131524e+09
1,6302,A0-0162,NaN,Lucknow,Uttar Pradesh,India,Bio Innovation,R&amp;D Laboratories,288000.0,0.0,...,1393673.450,"4"" x 14'2"" C-H Stud 20ga 33mil",PC,1.275,ML,140280.000,178857.835,5/6/2022 0:00,5/30/2025 0:00,1.559882e+10
2,8687,A0-0219,NaN,Indore,Madhya Pradesh,India,Misc Market,Learning Hub,40000.0,2.0,...,1446021.270,"6"" ProX Header Clip 16ga 54mil",EA,36,EA,165.330,5951.880,12/14/2021 0:00,11/17/2023 12:00,3.600137e+09
3,361,A0-0005,NaN,Warangal,Telangana,India,Misc Market,Learning Hub,36700.0,4.0,...,10460.880,"3/4""X16""X21"" SDS MAX ROTARY HAMMER\nDRILL SPEE...",NaN,NaN,NaN,4178.340,8356.680,10/15/2020 0:00,1/11/2024 12:00,3.422320e+09
4,13231,A0-0023,NaN,Kolkata,West Bengal,India,Enterprise,Hospitality Hall,435000.0,11.0,...,192062.525,"6"" x 10' Flat Strap 16ga 54mil",PC,0.22,ML,157230.500,34590.710,8/15/2022 0:00,1/21/2025 0:00,2.320456e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,4897,A0-0153,NaN,NaN,West Bengal,India,Wellness,Ambulatory Care,17000.0,NaN,...,NaN,"SELF DUMPING HOPPER, RED,6,000 LB",NaN,NaN,NaN,172550.245,NaN,1/30/2025 0:00,4/17/2026 0:00,1.591057e+09
2681,2821,A0-0064,NaN,Patna,Bihar,India,Wellness,Health Center,12658.0,0.0,...,180418.450,Arm 2x2x5/8 Dune Humigua rd\nSquare Lay-in 64sf,ctn,2240,NaN,75985.000,NaN,10/3/2022 0:00,5/31/2023 12:00,2.656048e+08
2682,11365,A0-0023,NaN,Kolkata,West Bengal,India,Enterprise,Hospitality Hall,435000.0,11.0,...,185708.175,"3-5/8"" Ã— 12' Stud 1-5/8"" Flange 16ga",PC,0.06,ML,180777.500,10846.650,8/15/2022 0:00,1/21/2025 0:00,2.320456e+10
2683,9924,A0-0161,NaN,Coimbatore,Tamil Nadu,India,Tertiary Learning,Misc Build,34000.0,2.0,...,538485.655,"4"" x 4"" x 10' Angle 16ga 54mil",PC,0.5,ML,194722.000,97361.000,9/1/2020 0:00,4/5/2024 0:00,1.642866e+09
2684,10410,A0-0186,NaN,Pune,Maharashtra,India,Misc Market,Workspace,171000.0,5.0,...,144697.985,"3-5/8"" x 10' Track 1-1/2"" Leg 20ga 33mil",PC,1,ML,71643.000,71643.000,10/18/2021 0:00,6/2/2026 0:00,1.570186e+10

In [11]:
df

Empty DataFrame
Columns: [id, PROJECTNUMBER, MW, PROJECT_CITY, STATE, PROJECT_COUNTRY, CORE_MARKET, PROJECT_TYPE, SIZE_BUILDINGSIZE, NUMFLOORS, NUMROOMS, NUMBEDS, invoiceId, invoiceDate, invoiceTotal, ItemDescription, MasterItemNo, QtyShipped, UOM, ExtendedQuantity, PriceUOM, UnitPrice, ExtendedPrice, CONSTRUCTION_START_DATE, SUBSTANTIAL_COMPLETION_DATE, REVISED_ESTIMATE]
Index: []

[0 rows x 26 columns]

In [12]:
df_Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2685 entries, 0 to 2684
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2685 non-null   int64
 1   PROJECTNUMBER                2685 non-null   object
 2   MW                           0 non-null      float64
 3   PROJECT_CITY                 2680 non-null   object
 4   STATE                        2685 non-null   object
 5   PROJECT_COUNTRY              2685 non-null   object
 6   CORE_MARKET                  2685 non-null   object
 7   PROJECT_TYPE                 2685 non-null   object
 8   SIZE_BUILDINGSIZE            2678 non-null   float64
 9   NUMFLOORS                    1849 non-null   float64
 10  NUMROOMS                     1393 non-null   float64
 11  NUMBEDS                      1200 non-null   float64
 12  invoiceId                    2685 non-null   object
 13  invoiceDate                  2685 non-null   object
 14  invoiceTotal                 2619 non-null   float64
 15  ItemDescription              2684 non-null   object
 16  UOM                          2266 non-null   object
 17  ExtendedQuantity             2219 non-null   object
 18  PriceUOM                     1677 non-null   object
 19  UnitPrice                    2684 non-null   float64
 20  ExtendedPrice                2050 non-null   float64
 21  CONSTRUCTION_START_DATE      2685 non-null   object
 22  SUBSTANTIAL_COMPLETION_DATE  2685 non-null   object
 23  REVISED_ESTIMATE             2685 non-null   float64
dtypes: float64(9), int64(1), object(14)
memory usage: 503.6+ KB

In [21]:
df_Train['CORE_MARKET'].unique()

array(['Enterprise', 'Wellness', 'Tertiary Learning', 'Misc Market',
       'Future Tech', 'Bio Innovation'], dtype=object)

In [28]:
df_Train[df_Train['PROJECT_TYPE'].isnull()]

,id,PROJECTNUMBER,MW,PROJECT_CITY,STATE,PROJECT_COUNTRY,CORE_MARKET,PROJECT_TYPE,SIZE_BUILDINGSIZE,NUMFLOORS,...,MasterItemNo,QtyShipped,UOM,ExtendedQuantity,PriceUOM,UnitPrice,ExtendedPrice,CONSTRUCTION_START_DATE,SUBSTANTIAL_COMPLETION_DATE,REVISED_ESTIMATE
566,4618,A0-0122,NaN,Ranchi,Jharkhand,India,Tertiary Learning,NaN,0.0,NaN,...,58170,1,NaN,NaN,NaN,27367.96,NaN,7/18/2022 0:00,1/31/2024 0:00,40698985.5
8381,4617,A0-0122,NaN,Ranchi,Jharkhand,India,Tertiary Learning,NaN,0.0,NaN,...,58170,1,NaN,NaN,NaN,27367.96,NaN,7/18/2022 0:00,1/31/2024 0:00,40698985.5

In [ ]:
df_Trai

In [13]:
df_Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14036 entries, 0 to 14035
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           14036 non-null  int64
 1   PROJECTNUMBER                14036 non-null  object
 2   MW                           3300 non-null   float64
 3   PROJECT_CITY                 14036 non-null  object
 4   STATE                        14036 non-null  object
 5   PROJECT_COUNTRY              14036 non-null  object
 6   CORE_MARKET                  14036 non-null  object
 7   PROJECT_TYPE                 14034 non-null  object
 8   SIZE_BUILDINGSIZE            14006 non-null  float64
 9   NUMFLOORS                    9587 non-null   float64
 10  NUMROOMS                     6744 non-null   float64
 11  NUMBEDS                      5909 non-null   float64
 12  invoiceId                    14036 non-null  object
 13  invoiceDate                  14036 non-null  object
 14  invoiceTotal                 13771 non-null  float64
 15  ItemDescription              14036 non-null  object
 16  MasterItemNo                 14036 non-null  object
 17  QtyShipped                   14001 non-null  object
 18  UOM                          12389 non-null  object
 19  ExtendedQuantity             12169 non-null  object
 20  PriceUOM                     10079 non-null  object
 21  UnitPrice                    14023 non-null  float64
 22  ExtendedPrice                11514 non-null  float64
 23  CONSTRUCTION_START_DATE      14036 non-null  object
 24  SUBSTANTIAL_COMPLETION_DATE  14036 non-null  object
 25  REVISED_ESTIMATE             14036 non-null  float64
dtypes: float64(9), int64(1), object(16)
memory usage: 2.8+ MB

In [14]:
df_Train.isnull().sum()

id                                 0
PROJECTNUMBER                      0
MW                             10736
PROJECT_CITY                       0
STATE                              0
PROJECT_COUNTRY                    0
CORE_MARKET                        0
PROJECT_TYPE                       2
SIZE_BUILDINGSIZE                 30
NUMFLOORS                       4449
NUMROOMS                        7292
NUMBEDS                         8127
invoiceId                          0
invoiceDate                        0
invoiceTotal                     265
ItemDescription                    0
MasterItemNo                       0
QtyShipped                        35
UOM                             1647
ExtendedQuantity                1867
PriceUOM                        3957
UnitPrice                         13
ExtendedPrice                   2522
CONSTRUCTION_START_DATE            0
SUBSTANTIAL_COMPLETION_DATE        0
REVISED_ESTIMATE                   0
dtype: int64

In [15]:
df_Train['PROJECT_CITY'].value_counts()

PROJECT_CITY
Kolkata               2103
Ahmedabad             1590
Tiruchirappalli       1151
Jaipur                 896
Mumbai                 877
Bengaluru              725
Chennai                510
Varanasi               481
Pune                   395
Vadodara               330
Rajkot                 298
Warangal               270
Lucknow                269
Nagpur                 232
Guwahati               231
Indore                 229
Patna                  221
Chandigarh             215
Cuttack                207
Visakhapatnam          206
Ranchi                 205
Dehradun               194
Kochi                  168
Coimbatore             166
Thiruvananthapuram     148
Meerut                 137
Surat                  127
Gwalior                123
Aurangabad             119
Madurai                 90
Kolhapur                77
Haridwar                75
Amritsar                74
Jammu                   73
Hyderabad               70
Delhi                   66
Jabalpur                65
Aligarh                 63
Bhubaneswar             60
Agra                    48
Allahabad               47
Ludhiana                47
Salem                   45
Mangalore               40
Srinagar                40
Nellore                 36
Udaipur                 31
Kanpur                  30
Jodhpur                 26
Nashik                  25
Hubli                   23
Bareilly                20
Mysuru                  17
Bhopal                  16
Shimla                   9
Name: count, dtype: int64

In [54]:
df['PROJECT_CITY'] = df['PROJECT_CITY'].str.strip().str.title()
print(df['PROJECT_CITY'].value_counts())

Series([], Name: count, dtype: int64)

In [55]:
city_corrections = {
    "Allahabad": "Prayagraj",
    "Hubli": "Hubballi",
    "Bangalore": "Bengaluru",
    "Mysore": "Mysuru",
    "Trivandrum": "Thiruvananthapuram",
    "Calcutta": "Kolkata"
}
df['PROJECT_CITY'] = df['PROJECT_CITY'].replace(city_corrections)

In [20]:
df_Train['PROJECT_COUNTRY'].value_counts()

PROJECT_COUNTRY
India    14036
Name: count, dtype: int64

In [56]:
## Check Misssing Values
##these are the features with nan value
features_with_na=[features for features in df_Train.columns if df_Train[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df_Train[feature].isnull().mean()*100,5), '% missing values')

MW 76.48903 % missing values
PROJECT_TYPE 0.01425 % missing values
SIZE_BUILDINGSIZE 0.21374 % missing values
NUMFLOORS 31.69706 % missing values
NUMROOMS 51.95212 % missing values
NUMBEDS 57.90111 % missing values
invoiceTotal 1.888 % missing values
QtyShipped 0.24936 % missing values
UOM 11.73411 % missing values
ExtendedQuantity 13.30151 % missing values
PriceUOM 28.19179 % missing values
UnitPrice 0.09262 % missing values
ExtendedPrice 17.96808 % missing values

In [63]:
# Check correlations of numeric columns to target
numeric_cols = df_Train.select_dtypes(include='number').columns
df_Train[numeric_cols].corr()['QtyShipped'].sort_values(ascending=False)

QtyShipped           1.000000
NUMBEDS              0.205575
id                   0.199806
invoiceTotal         0.175842
MW                   0.102491
NUMFLOORS            0.062527
ExtendedPrice        0.060511
REVISED_ESTIMATE     0.038658
SIZE_BUILDINGSIZE   -0.007778
UnitPrice           -0.010416
NUMROOMS            -0.050392
Name: QtyShipped, dtype: float64

In [62]:
df_Train.head()

,id,PROJECTNUMBER,MW,PROJECT_CITY,STATE,PROJECT_COUNTRY,CORE_MARKET,PROJECT_TYPE,SIZE_BUILDINGSIZE,NUMFLOORS,...,MasterItemNo,QtyShipped,UOM,ExtendedQuantity,PriceUOM,UnitPrice,ExtendedPrice,CONSTRUCTION_START_DATE,SUBSTANTIAL_COMPLETION_DATE,REVISED_ESTIMATE
0,3478,A0-0070,NaN,Mumbai,Maharashtra,India,Enterprise,Workspace,9000.0,0.0,...,58211,2.0,can,2,NaN,1983.125,NaN,3/22/2023 0:00,5/25/2023 12:00,2.409524e+07
1,8006,A0-0208,NaN,Delhi,Delhi,India,Wellness,Health Center,31200.0,NaN,...,53691,15.0,PC,0.15,ML,53273.000,7990.950,11/1/2022 0:00,7/3/2023 12:00,9.511661e+08
2,5748,A0-0004,NaN,Bengaluru,Karnataka,India,Enterprise,Workspace,2800000.0,0.0,...,63311,5.0,BG,5,BG,864.225,4321.125,2/3/2020 0:00,10/31/2025 0:00,3.492557e+10
3,7898,A0-0166,NaN,Chennai,Tamil Nadu,India,Tertiary Learning,Learning Hub,184000.0,0.0,...,61506,12.0,EA,12,EA,125.250,1503.000,11/19/2019 0:00,1/24/2025 12:00,1.553978e+10
4,11030,A0-0242,NaN,Hyderabad,Telangana,India,Wellness,Ambulatory Care,25000.0,NaN,...,50921,8.0,PC,0.128,NaN,NaN,23780.800,12/3/2021 0:00,3/2/2023 12:00,6.867939e+08

In [61]:
df_Train.select_dtypes(include='number').corr()["QtyShipped"]

id                   0.199806
MW                   0.102491
SIZE_BUILDINGSIZE   -0.007778
NUMFLOORS            0.062527
NUMROOMS            -0.050392
NUMBEDS              0.205575
invoiceTotal         0.175842
QtyShipped           1.000000
UnitPrice           -0.010416
ExtendedPrice        0.060511
REVISED_ESTIMATE     0.038658
Name: QtyShipped, dtype: float64

In [60]:
print(df_Train.columns.tolist())

['id', 'PROJECTNUMBER', 'MW', 'PROJECT_CITY', 'STATE', 'PROJECT_COUNTRY', 'CORE_MARKET', 'PROJECT_TYPE', 'SIZE_BUILDINGSIZE', 'NUMFLOORS', 'NUMROOMS', 'NUMBEDS', 'invoiceId', 'invoiceDate', 'invoiceTotal', 'ItemDescription', 'MasterItemNo', 'QtyShipped', 'UOM', 'ExtendedQuantity', 'PriceUOM', 'UnitPrice', 'ExtendedPrice', 'CONSTRUCTION_START_DATE', 'SUBSTANTIAL_COMPLETION_DATE', 'REVISED_ESTIMATE']

In [59]:
print(df_Train['QtyShipped'].dtype)

float64

In [58]:
df_Train['QtyShipped'] = pd.to_numeric(df_Train['QtyShipped'], errors='coerce')

In [64]:
df_Train=df_Train.drop(columns=["MW","id","SIZE_BUILDINGSIZE","UnitPrice","NUMROOMS","REVISED_ESTIMATE"],axis=1)

In [65]:
df_Train.isnull().sum()

PROJECTNUMBER                     0
PROJECT_CITY                      0
STATE                             0
PROJECT_COUNTRY                   0
CORE_MARKET                       0
PROJECT_TYPE                      2
NUMFLOORS                      4449
NUMBEDS                        8127
invoiceId                         0
invoiceDate                       0
invoiceTotal                    265
ItemDescription                   0
MasterItemNo                      0
QtyShipped                       89
UOM                            1647
ExtendedQuantity               1867
PriceUOM                       3957
ExtendedPrice                  2522
CONSTRUCTION_START_DATE           0
SUBSTANTIAL_COMPLETION_DATE       0
dtype: int64

In [77]:
df=df_Train.dropna(subset=['QtyShipped'])

In [69]:
df.isnull().sum()

PROJECTNUMBER                     0
PROJECT_CITY                      0
STATE                             0
PROJECT_COUNTRY                   0
CORE_MARKET                       0
PROJECT_TYPE                      2
NUMFLOORS                      4430
NUMBEDS                        8061
invoiceId                         0
invoiceDate                       0
invoiceTotal                    264
ItemDescription                   0
MasterItemNo                      0
QtyShipped                        0
UOM                            1606
ExtendedQuantity               1827
PriceUOM                       3915
ExtendedPrice                  2505
CONSTRUCTION_START_DATE           0
SUBSTANTIAL_COMPLETION_DATE       0
dtype: int64

In [71]:
df=df_Train.dropna(subset=['invoiceTotal'])

In [72]:
df

,PROJECTNUMBER,PROJECT_CITY,STATE,PROJECT_COUNTRY,CORE_MARKET,PROJECT_TYPE,NUMFLOORS,NUMBEDS,invoiceId,invoiceDate,invoiceTotal,ItemDescription,MasterItemNo,QtyShipped,UOM,ExtendedQuantity,PriceUOM,ExtendedPrice,CONSTRUCTION_START_DATE,SUBSTANTIAL_COMPLETION_DATE
0,A0-0070,Mumbai,Maharashtra,India,Enterprise,Workspace,0.0,0.0,B0-0454,3/28/2023,1.599409e+05,GoldBond Multi-Use Mud 5 Gallon\nCan Red,58211,2.0,can,2,NaN,NaN,3/22/2023 0:00,5/25/2023 12:00
1,A0-0208,Delhi,Delhi,India,Wellness,Health Center,NaN,NaN,B0-1821,1/12/2023,5.894733e+05,"1-5/8"" x 10' Track 1-1/4"" Leg 20ga EQ",53691,15.0,PC,0.15,ML,7.990950e+03,11/1/2022 0:00,7/3/2023 12:00
2,A0-0004,Bengaluru,Karnataka,India,Enterprise,Workspace,0.0,0.0,B0-1246,2/2/2024,5.444225e+05,Westpac Fast Set 20 Lite 20# Bag,63311,5.0,BG,5,BG,4.321125e+03,2/3/2020 0:00,10/31/2025 0:00
3,A0-0166,Chennai,Tamil Nadu,India,Tertiary Learning,Learning Hub,0.0,0.0,B0-1800,1/4/2023,2.247720e+05,"3-5/8"" ProX Header Clip 16ga (54mil)",61506,12.0,EA,12,EA,1.503000e+03,11/19/2019 0:00,1/24/2025 12:00
4,A0-0242,Hyderabad,Telangana,India,Wellness,Ambulatory Care,NaN,NaN,B0-2850,9/7/2023,5.926412e+04,"6"" x 16' Stud 1-5/8"" Flange 18ga",50921,8.0,PC,0.128,NaN,2.378080e+04,12/3/2021 0:00,3/2/2023 12:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14031,A0-0548,Kolkata,West Bengal,India,Future Tech,Data Center,6.0,NaN,A0-0002-INV-07,8/6/2022 0:00,4.162891e+08,"Cat6A Patch Panel 48-Port, 2U",PP_CAT6_48,460.0,EA,460,EA,4.652219e+06,7/26/2021 0:00,3/10/2023 12:00
14032,A0-0548,Kolkata,West Bengal,India,Future Tech,Data Center,6.0,NaN,A0-0002-INV-08,9/29/2022 0:00,2.949775e+08,"Low-Voltage Panelboard, 42-Circuit",PANELBOARD_LV,184.0,EA,184,EA,3.879533e+07,7/26/2021 0:00,3/10/2023 12:00
14033,A0-0548,Kolkata,West Bengal,India,Future Tech,Data Center,6.0,NaN,A0-0002-INV-08,9/29/2022 0:00,2.949775e+08,"Raised Access Floor, Installed (per SF)",RAISED_FLOOR_SF,18622.0,SF,18622,SF,1.395089e+08,7/26/2021 0:00,3/10/2023 12:00
14034,A0-0548,Kolkata,West Bengal,India,Future Tech,Data Center,6.0,NaN,A0-0002-INV-08,9/29/2022 0:00,2.949775e+08,Air-Cooled Chiller Capacity (per ton),CHILLER_TON,2632.0,TON,2632,TON,1.110794e+08,7/26/2021 0:00,3/10/2023 12:00
14035,A0-0548,Kolkata,West Bengal,India,Future Tech,Data Center,6.0,NaN,A0-0002-INV-08,9/29/2022 0:00,2.949775e+08,"Cable Ladder Tray, 10ft section",LADDER_10FT,325.0,EA,325,EA,5.593853e+06,7/26/2021 0:00,3/10/2023 12:00

In [78]:
## Check Misssing Values
##these are the features with nan value
features_with_na=[features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5), '% missing values')

PROJECT_TYPE 0.01434 % missing values
NUMFLOORS 31.7631 % missing values
NUMBEDS 57.79738 % missing values
invoiceTotal 1.89288 % missing values
UOM 11.51502 % missing values
ExtendedQuantity 13.09959 % missing values
PriceUOM 28.07055 % missing values
ExtendedPrice 17.96085 % missing values

In [79]:
df.isnull().sum()

PROJECTNUMBER                     0
PROJECT_CITY                      0
STATE                             0
PROJECT_COUNTRY                   0
CORE_MARKET                       0
PROJECT_TYPE                      2
NUMFLOORS                      4430
NUMBEDS                        8061
invoiceId                         0
invoiceDate                       0
invoiceTotal                    264
ItemDescription                   0
MasterItemNo                      0
QtyShipped                        0
UOM                            1606
ExtendedQuantity               1827
PriceUOM                       3915
ExtendedPrice                  2505
CONSTRUCTION_START_DATE           0
SUBSTANTIAL_COMPLETION_DATE       0
dtype: int64

In [ ]:
## filling with Median :->
df.NUMFLOORS.fillna(df.NUMFLOORS.median(), inplace=True)
df.NUMBEDS.fillna(df.NUMBEDS.median(), inplace=True)
df.ExtendedQuantity.fillna(df.ExtendedQuantity.median(), inplace=True)
df.invoiceTotal.fillna(df.invoiceTotal.median(), inplace=True)

#3 filling with mode :-> 
df.PriceUOM.fillna(df.PriceUOM.mode()[0], inplace=True)
df.UOM.fillna(df.UOM.mode()[0], inplace=True)
df.PROJECT_TYPE.fillna(df.PROJECT_TYPE.mode()[0], inplace=True)




## Extended Price :-> 
df['ExtendedPrice'].fillna(0, inplace=True)  # or recompute if formula available


#Age
df_Train.NUMFLOORS.fillna(df_Train.NUMFLOORS.median(), inplace=True)
df_Train.NUMBEDS.fillna(df_Train.NUMBEDS.median(), inplace=True)

#TypeofContract
df_Train..fillna(df_Train.TypeofContact.mode()[0], inplace=True)

#DurationOfPitch
df_Train.DurationOfPitch.fillna(df_Train.DurationOfPitch.median(), inplace=True)

#NumberOfFollowups
df_Train.NumberOfFollowups.fillna(df_Train.NumberOfFollowups.mode()[0], inplace=True)

#PreferredPropertyStar
df_Train.PreferredPropertyStar.fillna(df_Train.PreferredPropertyStar.mode()[0], inplace=True)

#NumberOfTrips
df_Train.NumberOfTrips.fillna(df_Train.NumberOfTrips.median(), inplace=True)

#NumberOfChildrenVisiting
df_Train.NumberOfChildrenVisiting.fillna(df_Train.NumberOfChildrenVisiting.mode()[0], inplace=True)

#MonthlyIncome
df_Train.MonthlyIncome.fillna(df_Train.MonthlyIncome.median(), inplace=True)
# DurationOfPitch:-> 
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

#NumberOfFollowups
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)

#PreferredPropertyStar
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)

#NumberOfTrips
df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)

#NumberOfChildrenVisiting
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)

#MonthlyIncome
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)